<tui-root>
  <div class="container">
    <tui-island class="tui-space_bottom-6" [hoverable]="true">
      <h1 class="tui-island__title">🚀 Instructions</h1>
      <p class="tui-island__paragraph">
        Press plus button to add more currencies from the list. Currency list
        updated each 5 seconds.
      </p>
    </tui-island>

    <app-error></app-error>

    <tui-island>
      <app-title
        [baseCurrency]="baseCurrency"
        [extraCurrencies]="extraCurrencies"></app-title>
      <app-date [timestamp]="timestamp"></app-date>

      <ng-container *ngIf="isLoading; else currenciesTemplate">
        <app-currency [isLoading]="isLoading"></app-currency>
        <app-currency [isLoading]="isLoading"></app-currency>
        <app-currency [isLoading]="isLoading"></app-currency>
      </ng-container>
      <ng-template #currenciesTemplate>
        <div *ngFor="let currency of currencies">
          <app-currency [currency]="currency"></app-currency>
        </div>
      </ng-template>
    </tui-island>
  </div>
</tui-root>
