.wrapper {
  width: 300px;
}

.main,
.values,
.difference {
  display: flex;
}

.main {
  width: 100%;
  justify-content: space-between;

  .tui-island__title {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .wrapper {
    width: 250px;
  }
}
